<div class="sidebar-wrapper" id="sideMenu">
    <div class="sidemenu">
        <nav class="navbar navbar-expand-sm p-0">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/dashboard">
                            <i class="lni lni-dashboard"></i>
                        </a>
                    </li>
                    <!-- <li class="nav-item dropright" data-toggle="tooltip" title="Site Region">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                            
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Site</a>
                            <a class="dropdown-item" href="#">Site Region</a>
                            <a class="dropdown-item" href="#">Site Division</a>
                            <a class="dropdown-item" href="#">Site Group</a>
                        </div>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/patient"> 
                            <i class="lni lni-user"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/doctor"> 
                            <i class="lni lni-sthethoscope"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/patient/list"> 
                            <i class="lni lni-list"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/auth"> 
                            <i class="lni lni-power-switch"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- .sidebar-wrapper end -->