<header class="header">
    <div class="row">
        <div class="col-sm-6">
            <h2>Patient</h2>
        </div>
        <div class="col-sm-6 text-lg-right text-sm-right">
            <!-- <button class="btn btn-primary">Add New</button> -->
            <app-table-search [gridApi]="gridApi"></app-table-search>
        </div>
    </div>
</header><!-- .header end -->

<div class="content-wrapper">
    <div class="agGridWrapper">
        <ag-grid-angular
        style="width: 100%; height: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [gridOptions]="gridOptions"
        (gridReady)="gridReady($event)"
        [frameworkComponents]="frameworkComponents"
        >
        </ag-grid-angular>
    </div>    
</div><!-- .content-wrapper end -->