.reportDetails {
    padding: 0px;
    
    li {
        display: flex;
        flex-wrap: wrap;
        padding: 12px 0;
        border-bottom: solid 1px transparent;
        clear: both;

        &:last-child {
            border-bottom: none;
        }

        p {
            display: inline-block;
            font-size: 14px;
            margin: 0px;
        }
        strong {
            font-size: 14px;
            font-weight: 500;
            display: inline-block;
        }
    }
}